In [2]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('Placement_Data_Full_Class.csv')
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [12]:
X = dataset.iloc[:,[2,7]].values
Y = dataset.iloc[:,12].values.reshape(-1,1)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.2, random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

y_pred = regressor.predict(X_test)

df = pd.DataFrame({'Actual': Y_test.flatten(), 'Predicted': y_pred.flatten()})
df

    Actual  Predicted
0    71.96  61.937447
1    55.47  63.551932
2    62.36  64.902419
3    58.79  58.079401
4    66.04  65.052802
5    67.00  63.636817
6    64.44  65.418355
7    60.41  63.443637
8    51.58  60.936197
9    66.69  64.687249
10   52.71  61.120486
11   63.23  66.054974
12   72.29  64.413085
13   53.94  59.962730
14   67.20  61.769000
15   58.30  58.786903
16   68.20  65.682115
17   65.04  59.461809
18   62.48  59.709373
19   61.87  61.722277
20   65.48  60.261286
21   61.90  60.737815
22   56.49  61.318538
23   62.50  60.705421
24   58.52  59.220038
25   64.08  61.227149
26   71.43  67.334077
27   64.66  62.550563
28   57.03  61.103367
29   66.94  64.218722
30   62.14  64.009345
31   59.50  60.979586
32   60.39  64.478214
33   69.03  61.510003
34   61.58  59.246639
35   66.06  65.464510
36   72.78  67.855806
37   53.20  59.128650
38   68.03  67.823412
39   53.62  62.329600
40   65.69  58.837788
41   60.02  61.148553
42   54.43  61.884246

In [15]:
regressor.intercept_

array([39.65800695])

In [16]:
regressor.coef_

array([[0.1237819 , 0.21517005]])

In [17]:
from sklearn.metrics import r2_score
r2_score(Y_test, y_pred)

0.2670526417462228